@charset "UTF-8"; 

@import 'https://fonts.googleapis.com/css?family=Abel'; 

html
{
    font-size: 62.5%;
}

body
{
    font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: 1.8rem;
    line-height: 1.6;
    letter-spacing: .1em;
    color: #000000;
    background-color: #fffff0;
}
.img
{
    text-align: center;
}
.flexible-images 
{
  max-width: 100%;
  height: auto;
}
.text-center
{
    text-align: center;
}

#Box
{
    width: 640px;
    margin: 0 auto;
}
#ec-box 
{
    width: 660px;
    margin-right: -20px;
}
.channel 
{
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    display: inline;   
    font-size: auto;
}
.title 
{
    font-weight: bold;
    margin-bottom: 12px;
    margin: 0 ;
    width: auto;
    background: #cccccc	;
    text-align: center;
}
.text
{
    font-weight: bold;
    margin-bottom: 12px;
    margin: 0 ;
    width: auto;
    background: #808080;
    text-align: center;
}

a.button {
display: block;
width: 180px;
height: 15px;
padding: 0.5em;
text-align: center;
text-decoration: none;
color: #FFFF;
background: #000000;
border-bottom: 1x solid #00838F;
border-radius: 10px;
/a }

.button{
    margin-left: auto;
    margin-right: auto;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.img
{
  background-image:url("https://us-east-2.console.aws.amazon.com/cloud9/ide/7c15e0c7e7e24266ab90cdd0204837eb");
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
 
}
@media (max-width: 768px) {
  .ec-box{
    flex-direction: column;
    display: flex;
  }
}
