@charset "UTF-8"; 

@import 'https://fonts.googleapis.com/css?family=Abel'; 

html
{
    font-size: 62.5%;
}

body
{
    font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: 1.8rem;
    line-height: 1.6;
    letter-spacing: .1em;
    color: #000000;
    background-color: #fffff0;
}
.img
{
    text-align: center;
}
.flexible-images 
{
  max-width: 100%;
  height: auto;
}
.text-center
{
    text-align: center;
}

#Box
{
    margin: 0 auto;
}

.channel 
{
    width: 30%;
    margin: 0 2% 10px;
    float: left;
    display: inline;  
    font-size: auto;
}

.title 
{
    font-weight: bold;
    margin-bottom: 12px;
    margin: 0 ;
    width: auto;
    background: #cccccc	;
    text-align: center;
}
.text
{
    font-weight: bold;
    margin-bottom: 12px;
    margin: 0 ;
    width: auto;
    background: #808080;
    text-align: center;
}

a.button {
display: block;
width: 180px;
padding: 0.5em;
text-align: center;
text-decoration: none;
color: #FFFF;
background: #000000;
border-bottom: 1x solid #00838F;
border-radius: 10px;
/a }

.button{
    margin-left: auto;
    margin-right: auto;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.img
{
  background-image: url(../images/img_work_blog2-1.jpg);
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
 
}

@media (min-width: 769px) {
    
    .channel:nth-child(2n){
      margin: 0 0 10px;
    }

}

@media (max-width: 768px) {

  .img{
    height: 250px;
  }    

  #ec-box{
    flex-direction: column;
    display: flex;
  }
  
  .channel{
      width: 90%;
      margin: 10px auto;
    

  
  
}
